a.footnotepage
    {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    }
div.footnotepage
    {
        text-align: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
        }    
div.logopage
    {
    margin: 15px;
    padding: 5px;
    }

div.maintextpage
    {
    margin: 25px;
    }
div.navbarpage
    {
    width: 500px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    border-color: gray;
    border-width: 5px;
    border-style: solid;

    padding: 10px;
    }
h1.logopage
    {
    color: maroon;
    line-height: 25px;
    font-family: 'Monoton', cursive;
    }
img.logopage
    {
    padding: 10px;
    float: left;
    }
img.mainleftpage
    {
    padding: 10px;
    float: left;
    }
img.mainrightpage
    {
    padding: 10px;
    float: right;
    }
    p.logopage
    {   
    line-height: 25px;
    }
p.imagerightpage
    {   
        
        text-align: right;
        text-align: bottom;
    }
/*

*/
